<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>BCC微金融</title>
    <link rel="stylesheet" type="text/css" href="./Styles/Site.css">
    <script src="Scripts/jquery-1.4.1.min.js"></script>
    <script src="Scripts/jquery-1.4.1.js"></script>
    <script src="Scripts/kefu.js" type="text/javascript"></script>
</head>
<body>
    <!-- LOGO及头部文字导航 -->
    <div class="head">
        <div class="dx_1000">
        <div class="logo">
                <a herf="#">
                    <img src="images/logo.png" /></a>
            </div>
        </div>
    </div>
    <!-- 幻灯片大图 -->
    <div class="login_img">
        <div class="dx_1000" style="height: 475px;">
           <div class="div_login">
            <div class="zhxx">
                <div class="zhm">
                    账户名
                </div>
                <div class="div_input">
                    <input type="text" class="ps_input" value="请输入用户名" />
                </div>
            </div>

               <div class="zhxx" style=" margin-top:20px;">
                <div class="zhm">
                    密码
                </div>
                <div class="div_input">
                    <input type="text" class="ps_input" value="请输入用密码" />
                </div>
            </div>

            <div class="zhxx" style=" margin-top:20px;">
                <div class="zhm">
                    验证码
                </div>
                <div class="div_input">
                    <input type="text" class="ps_input" value="输入验证码"  style=" width:80px;"/>
                </div>
            </div>

            <div class="zhxx" style=" margin-top:20px; padding-right:20px">
              <a href="javascript:;" class="register">注册领1200元现金券</a>
            </div>
            </div>


        </div>
        </div>
        <!-- 正文内容 -->

        <div class="login_main">
      
        
        </div>
        
        <!-- 脚部信息 -->
        <div class="bqxx">
            Copyright 2008-2015 BCC微金融 版权所有 站点统计
        </div>
</body>
</html>
